<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <name>Document</name>
  <style>
   form {
    border: 1px solid #ddd;
    padding:5px;
    width:225px;
    background: #efefef;
   }
   label{
       display: block;
       margin-top: 5px;
   }
   input, textarea, select, option {
       min-width: 200px;
   }
  </style>
 
</head>
<body>
  <div id="app">
   <form @submit.prevent="submitForm()" >
     <p v-if="errors.length">
       <b>Please correct the following errors :</b>
       <ul>
        <li v-for="error in errors">{{ error }}</li>
       </ul>
     </p>
     <label>Name : </label>
     <input type="text" :disabled="buttonStatus == 'upload'" name="name" ref="name" v-model="name">
     <label>Address : </label>
     <textarea name="address" :disabled="buttonStatus == 'upload'" ref="address" v-model="address" ></textarea>
     <label>no_hp: </label>
     <input type="textarea" :disabled="buttonStatus == 'upload'" name="no_hp" ref="no_hp" v-model="no_hp">
     
     <br><br>
     
     <div v-if="buttonStatus == 'submit'">
       <input type="submit" value="SUBMIT">
     </div>
     <div v-else-if="buttonStatus == 'update'">
        <input type="button" @click="updatePost(idEditPost)" value="UPDATE">
        <input type="button" value="CANCEL" @click="clearForm" style="margin-top:5px">
     </div>
      <div v-else-if="buttonStatus == 'upload'">
        <input type="file" name="photo" ref="photo">
        <input type="button" value="UPLOAD" @click="submitPhoto(idUploadProfile)" style="margin-top:5px;">
        <input type="button" value="CANCEL" @click="clearForm" style="margin-top:5px">
     </div>

   </form> 
   
   <br><br>

   <table border=1> 
      <tr v-for="members of member">
        <td>
          <img width=100 :src="members.photo_profile ? domain + members.photo_profile : 'https://dummyimage.com/600x400/000/fff'" alt="">
        </td>
        <td>
          <b>name : </b> {{ members.name }} <br>
          <b>adress : </b> {{ members.address }} <br>
          <b>no_hp : </b> {{ members.no_hp }} <br>

        </td>
        <td>
          <button @click="editPost(members)">Edit</button>
          <button @click="removePost(members.id)">Hapus</button>
          <button @click="uploadPhoto(members)">Upload Foto</button>
        </td>
      </tr>
   </table>

  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
   var vm = new Vue({
       el: '#app',
       data: {
        name : '',
        address: '',
        no_hp: '',
        debugger : '',
        errors : [],
        member : [],
        domain : 'http://demo-api-vue.sanbercloud.com',
        buttonStatus : 'submit',
        idEditPost : null,
        idUploadProfile : null
       },
       methods: {

        submitForm : function(){

           if(this.errors.length === 0){

            let formData = new FormData()
            formData.append('name' , this.name)
            formData.append('address' , this.address)
            formData.append('no_hp' , this.no_hp)


            const config = {
              method : "post",
              url : `${this.domain}/api/member`,
              data : formData
            }

            axios(config)
              .then( (response) => {
                this.clearForm()
                this.getMember()
                alert(response.data.message)
                
              })
              .catch( (error) => {
                
              })
           } 
        },

        getMember : function(){
            const config = {
                method : "get",
                url : "http://demo-api-vue.sanbercloud.com/api/member"
            }
            axios(config)
                .then((response)=> {
                    this.member = response.data.members

                })
                .catch((error) => {
                    console.log(error)


                })
            
            
        },
        
        removePost : function(id){
          const config = {
            method : "post",
            url : `${this.domain}/api/member/${id}`,
            params : {_method : "DELETE" }
          }

          axios(config)
            .then( (response) => {
                this.getMember()
                alert(response.data.message)
            })
            .catch( (error) => {
              console.log(error)
            })

          console.log(id)
        },

        editPost : function(member){
          this.name = member.name
          this.address = member.address
          this.no_hp = member.no_hp
          this.buttonStatus = 'update'
          this.idEditPost = member.id
        },

        clearForm : function(){
          this.name = ''
          this.address = ''
          this.no_hp =''
          this.buttonStatus = 'submit'
          this.idEditPost = null
          this.idUploadPost = null
        },

        updatePost : function(id){

          if( this.errors.length === 0){

            let formData = new FormData()
            formData.append('name' , this.name)
            formData.append('address' , this.address)
            formData.append('no_hp' , this.no_hp)

            let config = {
              method : "post",
              url : `${this.domain}/api/member/${id}`,
              params : { _method : 'PUT'},
              data : formData
            }

            axios(config)
              .then( (response) => {
                this.clearForm()
                this.getMember()
                alert(response.data.message)
              })
              .catch( (error) => {
                console.log(error)
              })
          }

          
        },

        uploadPhoto : function(member){
            this.name = member.name
          this.address = member.address
          this.no_hp = member.no_hp
          this.buttonStatus = 'upload'
          this.idUploadProfile = member.id
        },

        submitPhoto :function(id){
          
          let file = this.$refs.photo.files[0]

          let formData = new FormData()
          formData.append('photo_profile' , file)

          let config = {
              method : "post",
              url : `${this.domain}/api/member/${id}/upload-photo-profile`,
              data : formData
          }

          axios(config)
            .then( (response) => {
              this.clearForm()
              this.getMember()
              alert(response.data.message)

            })
            .catch( (error) => {
              console.log(error)
            })
        }
      },
       created(){
         this.getMember()
       }
   
      })
  </script>

</body>
</html>
