<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <button onclick="vm.openForm()">Open Form</button>
        <h1>{{ 'Nilai a : '+a }} </h1>
        <h1> {{ 'Nilai Rata-rata: '+rt}}</h1>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script> 
    var vm =new Vue({
        el: '#app',
        data: {
            a:0,
            rt:0,
        },
        methods : {
            openForm : function(){
                for(let x=1; x<=4; x++){
                    this.a=eval(prompt("Masukkan nilai ke " +x));
                    this.a +=this.a;
                }
            
            this.rt = this.a / 4;
            }
        }
    })
    
    </script>
</body>
</html>