<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
      <form>
          <input type="text"  v-model="cari">
      </form>
      <ul>
          <li v-for="boks in filterbooks"> 
                {{ boks.name }}          
        </li>
      </ul>
    
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
   var app = new Vue({
      el: '#app',
      data: {
          cari:'',
          books : [
              {name:'Kalkulus Dasar'},
              {name:'Fisika Dasar'},
              {name:'Aljabar Linier Elementer'},
              {name:'aljabar Abstrak'},
              {name:'Algoritma Pemrograman'}
              ]

          },
          computed: {
              filterbooks: function(){
                  return this.books.filter((boks)=>{
                      return boks.name.toLowerCase().match(this.cari)
                  });
              }
          }
      })
  </script>
</body>
</html>