
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Quiz 5</title>
  <!-- Menyisipkan Vuejs dari CDN -->
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>

<body>

  <!-- elemen kontainer untuk aplikasi -->
  <div id="app">
    <input type="text" placeholder="tambah orang" v-model:value="newOrang" />
    <button @click="addPerson">Add</button>
    <ul>
        <li v-for="item in tambahorang">
            <s v-if="item.updates">{{ item.Person }} <button @click="destroyComponent">Delete</button> || <button @click="update">Edit</button> </s>
            <b v-else>{{ item.Person }} <button @click="destroyComponent">Delete</button> <button @click="update">Edit</button></s></b>
        </li>
    </ul>
  </div>

  <script>
    var app = new Vue({
      el: "#app",
      data: {
        newOrang: "",
        tambahorang: [
            {'updates': false, Person: "Muhammad Iqbal Mubarok", active:true},
            {'updates': false, Person: "Ruby Purwanti", active:true},
            {'updates': false, Person: "Faqih Muhammad",active:true},
        ]
      },
      methods: {
          addPerson: function(){
              this.tambahorang.push({'updates': false, 'Person': this.newOrang, active:true});
              this.newOrang = "";
          },
          destroyComponent () {
            alert(`Kamu akan menghapus`)
      this.active = false;},
            update(){

            }
          }
    })
  </script>
</body>

</html>